.App {
  text-align: center;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
  padding:2% 0
}
/* write your parent styles in here for your App.js */

.container {
  display: flex;
  flex-direction: row;

}

.container-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-top: 1px solid #443e3e;
  
  
}

.container-heading{
  display: flex;
  flex-direction: row;
  width:100%;
  
}
